body{
    background-color: rgba(14, 55, 44, 0.351);
    font-family: Georgia, 'Times New Roman', Times, serif
}
ul{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    column-gap: 20px;
}
li{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgb(0, 0, 110);
    border: 1px solid rgba(0, 0, 110, 0.608);
    margin: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(94, 130, 120, 0.26);
    box-shadow: inset 0px 0px 10px 1px rgba(94, 130, 120, 0.826);
    text-align: center;
}
.img_wrapper{
    height: 250px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px 1px rgb(55, 71, 67);
    border-radius: 10px;
    overflow: hidden;
}
img{
   height: 100%;
}